<% include ../partials/_header %>
DATOS DE UN CLIENTE, ZONA CLIENTE
<div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Télefono</td>
              <td>Código Postal</td>
              <td>Fecha de Nacimiento</td>
              <td>Email</td>
              <td>Acción</td>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                  <td>
                    <%= data[i].nombre %>
                  </td>
                  <td>
                    <%= data[i].apellido %>
                  </td>
                  <td>
                    <%= data[i].telefono %>
                  </td>
                  <td>
                    <%= data[i].codigoPostal %>
                  </td>
                  <td>
                    <%= data[i].fechaNac %>
             
                  </td>
                  <td>
                    <%= data[i].email %>
                  </td>
                  <td>
                    <a href="/zonacliente/data/update/<%= data[i].id %>" class="btn btn-info">Modificar</a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
