<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="register-box">
        <div class="register-box-body">
          <p class="login-box-msg">Hola
            <%= data.nombre %>, que deseas modificar?</p>
          <hr width="100%" />
          <form action="/zonacliente/data/update/<%= data.id %>" method="POST">
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" value="<%= data.password %>" class="form-control" name="password" data-validation-length="min6" data-validation="length">
            </div>
            <div class="form-group">
              <label>Teléfono</label>
              <input type="text" class="form-control" value="<%= data.telefono %>" data-validation="required number" data-validation="length" data-validation-length="min6" name="telefono" >
            </div>
            <div class="form-group">
              <label>Código Postal</label>
              <input type="text" name="codigoPostal" class="form-control" value="<%= data.codigoPostal %>" data-validation="required number" data-validation="length"  data-validation-length="min5"> 
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" name="email" data-validation="email" value="<%= data.email %>" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">
              Guardar Cambios
            </button>
            <a href="/zonacliente/user" class="btn btn-primary ">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>



<% include ../partials/_footer %>