<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>

  <div class="content-wrapper">
      <section class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="box box-solid">
              <div class="box-header with-border">
                  <% if (data) { %>
                    <% for(var i = 0; i < data.length; i++) { %>
                <h5>Nombre:</h5>
                <p><%= data[i].nombre %></p>
                <h5>Apellido:</h5>
                <p><%= data[i].apellido %></p>
                <h5>Teléfono:</h5>
                <p><%= data[i].telefono %></p>
                <h5>Codigo Postal:</h5>
                <p><%= data[i].codigoPostal %></p>
                <h5>Fecha De Nacimiento:</h5>
                <p><%= data[i].fechaNac %></p>
                <h5>Email:</h5>
                <p><%= data[i].email %></p>
                <a href="/zonacliente/data/update/<%= data[i].id %>" class="btn btn-info">Modificar</a>
                <% } %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>


<% include ../partials/_footer %>


