<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>


<div class="content-wrapper">
    <section class="content-header">
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                            <a href="/zonacliente/valuations/add" class="btn btn-primary" >Enviar elemento para su Estimación</a>
                    </div>
                    <div class="box-body">
                        <% if (valuations.length > 0) { %>
                            <table id="usuarios" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th>Nombre</th>
                                    <th>Categoría</th>
                                    <th>Tipo de Objeto</th>
                                    <th>Técnica</th>
                                    <th>Tamaño</th>
                                    <th>Firmado</th>
                                    <th>Comentario</th>
                                    <th>Imagen</th>
                                    <th>Conservación</th>
                                    <th>Valor estimado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < valuations.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= valuations[i].nombre %>
                                    </td>
                                    <td>
                                        <%= valuations[i].categoria %>
                                    </td>
                                    <td>
                                        <%= valuations[i].tipo_objeto %>
                                    </td>
                                    <td>
                                        <%= valuations[i].tecnica %>
                                    </td>
                                    <td>
                                        <%= valuations[i].tamanio %>
                                    </td>
                                    <td>
                                        <%= (valuations[i].firmado) ? 'Si' : 'No' %>
                                    </td>
                                    <td>
                                        <%= valuations[i].comentario %>
                                    </td>
                                    <td>
                                        <%= valuations[i].imagen %>
                                    </td>
                                    <td>
                                        <%= valuations[i].conservacion %>
                                    </td>
                                    <td>
                                        <%= valuations[i].valor_estimativo %>  
                                    </td>
                                    <td>                                  
                                    <% if (valuations[i].valor_estimativo == null) { %>
                                    <% } %>                                  
                                    <a href="/zonacliente/valuations/delete/<%= valuations[i].id %>" class="btn btn-danger">Eliminar</a>                                    </td>
                                     </td>   
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% } else {%>
                           Aun no existen Valoraciones Insertadas
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


<% include ../partials/_footer %>
     


  