<% include ../partials/_header %>

  Listado de Valoraciones para ver!
  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <a href="/zonacliente/valuations/add">Crear Valoracion</a>
          <% if (valuations.length > 0) { %>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>Nº</td>
              <td>Nombre</td>
              <td>Categoria</td>
              <td>Tipo de Objeto</td>
              <td>Técnica</td>
              <td>Tamaño</td>
              <td>Firmado</td>
              <td>Comentario</td>
              <td>Imagen</td>
              <td>Conservación</td>
              <td>Valor estimado</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
              <% for(var i = 0; i < valuations.length; i++) { %>
                <tr>
                  <td><%= valuations[i].id %></td>
                  <td><%= valuations[i].nombre %></td>
                  <td><%= valuations[i].categoria %></td>
                  <td><%= valuations[i].tipo_objeto %></td>
                  <td><%= valuations[i].tecnica %></td>
                  <td><%= valuations[i].tamanio %></td>
                  <td><%= (valuations[i].firmado) ? 'Si' : 'No' %></td>
                  <td><%= valuations[i].comentario %></td>
                  <td><%= valuations[i].imagen %></td>
                  <td><%= valuations[i].conservacion %></td> 
                  <td><%= valuations[i].valor_estimativo %></td> 
                  <td>
                    <% if (valuations[i].valor_estimativo == null) { %>
                    <a href="/zonacliente/valuations/estimate/<%= valuations[i].id %>" class="btn btn-info">Estimar</a>
                    <% } %>
                    <a href="/zonacliente/valuations/delete/<%= valuations[i].id %>" class="btn btn-info">Eliminar</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } else {%>
              usted no tiene Valoracion
              <% } %>
          </div>
        </div>
  </div>
     

  <% include ../partials/_footer %>