<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>


            <div class="content-wrapper">
                    <section class="content-header">
                        <h4>Repuesta a contactos por formulario</h4>
                    </section>
 
                    <section class="content">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="box box-solid">
                            <div class="box-header with-border">
                              <h3 class="box-title">Detalle del Contacto</h3>

                              <h5>Nombre:</h5>
                              <p><%= data.nombre%></p>
                              <h5>Apellido:</h5>
                              <p><%= data.apellido %></p>
                              <h5>Email:</h5>
                              <p><%= data.email %></p>
                              <h5>Teléfono:</h5>
                              <p><%= data.telefono %></p>
                              <h5>Comentario:</h5>
                              <p><%= data.comentario %></p>

                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Redacte su respuesta</h3>
                                
                                <form action="/admin/contacts/view/<%= data.id %>" method="POST">
                                    <div>
                                        <label>Nombre:</label>
                                        <%= data.nombre%>
                                        <input style="visibility:hidden" name="nombre" value="<%= data.nombre%>">
                                    </div>
                                    <div>
                                        <label>Email:</label>
                                        <%= data.email %>
                                        <input style="visibility:hidden" name="email" value="<%= data.email %>">
                                    </div>   
                                    <div>
                                        <label>Mensaje de Respuesta</label>
                                        <textarea name="respuesta" rows="8" cols="30" class="form-control"></textarea>
                                    </div> 
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <a href="/admin/contacts" class="btn btn-warning ">Volver</a>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
            </div>



<% include ../partials/_footer %>
  
