<% include ../partials/_header %>
<% include ../partials/_bar %>
<% include ../partials/_nav %>


            <div class="content-wrapper">
                 <section class="content">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="register-box">
                            <div class="register-box-body">
                                <p class="login-box-msg">Detalle del Contacto</p>
                                <hr width="100%" />
                                <div>
                                <label>Nombre:</label>
                                <%= data.nombre %>
                                </div>
                                <br>
                                <div>                                
                                <label>Apellido:</label>
                                <%= data.apellido %>
                                </div>
                                <br>
                                <div>                                
                                <label>Email:</label>
                                <%= data.email %>
                                </div>
                                <br>  
                                <div>
                                <label>Teléfono:</label>
                                <%= data.telefono %>
                                </div>
                                <br>
                                <div>                                
                                <label>Comentario:</label>
                                <%= data.comentario %>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="register-box">
                            <div class="register-box-body">
                                <p class="login-box-msg">Redacte su Respuesta</p>
                                <hr width="100%" />
                                <form action="/admin/contacts/view/<%= data.id %>" method="POST">
                                    <div>
                                        <label>Nombre:</label>
                                        <%= data.nombre%>
                                        <input style="visibility:hidden" name="nombre" value="<%= data.nombre%>">
                                    </div>
                                    <div>
                                        <label>Email:</label>
                                        <%= data.email %>
                                        <input style="visibility:hidden" name="email" value="<%= data.email %>">
                                    </div>   
                                    <div>
                                        <label>Mensaje de Respuesta</label>
                                        <textarea name="respuesta" rows="8" cols="30" class="form-control"></textarea>
                                    </div> 
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    <a href="/admin/contacts" class="btn btn-warning ">Volver</a>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
            </div>



<% include ../partials/_footer %>
  
