<% include ../partials/_headeradmin %>  
  
  <h1>ACA ESTOY VIENDO UNA VALORACION</h1>
<a href="/admin/valuations" class="btn btn-info">Volver</a>

<div>
  <table class="table">
    <thead>
      <tr>
              <td>Nº</td>
              <td>Nombre</td>
              <td>Categoria</td>
              <td>Tipo de Objeto</td>
              <td>Técnica</td>
              <td>Tamaño</td>
              <td>Firmado</td>
              <td>Comentario</td>
              <td>Imagen</td>
              <td>Conservación</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <%= data.id%>
        </th>
        <td>
          <%= data.nombre%>
        </td>
        <td>
          <%= data.idCategoria%>
        </td>
        <td>
          <%= data.idTipoObjeto%>
        </td>
        <td>
          <%= data.idTecnica%>
        </td>
        <td>
          <%= data.idTamanio%>
        </td>
        <td>
          <%= data.firmado%>
        </td>
        <td>
          <%= data.comentario%>
        </td>
        <td>
          <%= data.imagen%>
        </td>
          <td>
          <%= data.idConservacion%>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
