<% include ../partials/_header %>
Listado de contactos por el formulario
<div class="row">
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
                <td>Télefono</td>
                <td>Comentario</td>
              </tr>
            </thead>
            <tbody>
              <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr>
                    <td><%= data[i].nombre %></td>
                    <td><%= data[i].apellido %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].telefono %></td>
                    <td><%= data[i].comentario %></td>
                    <td>
                      <a href="/" class="btn btn-info">boton para contestar</a>
                      <a href="/" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>